<template>
  <div style="width: 100%; overflow: hidden;">
    <svg width="720" height="48" xmlns="http://www.w3.org/2000/svg">
      <path d="M 0 30 Q 25 0 95 30 Q 95 0 180 30 T 270 30 T 360 30"
        stroke-width="3"
        stroke="darkgreen"
        fill="transparent"/>
      <path transform="translate(720), scale(-1, 1)" d="M 0 30 Q 25 0 95 30 Q 95 0 180 30 T 270 30 T 360 30"
        stroke-width="3"
        stroke="darkgreen"
        fill="transparent"/>
    </svg>
  </div>
</template>
